# Exercices Python : Types de données

## Types de données numériques (Numeric)

**Exercice :** Déclare trois variables : `num_int` avec une valeur entière de ton choix, `num_float` avec un nombre décimal, et `num_complex` avec un nombre complexe. Affiche leur valeur et leur type en utilisant la fonction `type()`.

In [1]:
num_int = 57
num_float = 14.7
num_complex = 2+3j

print(f"num_int= {num_int} est de type : {type(num_int)}")

print("num_int=",num_int,"est de type :", type(num_int))
print("num_float=",num_int,"est de type :", type(num_int))
print("num_complex=",num_complex,"est de type :", type(num_complex))

num_int= 57 est de type : <class 'int'>
num_int= 57 est de type : <class 'int'>
num_float= 57 est de type : <class 'int'>
num_complex= (2+3j) est de type : <class 'complex'>

**Exercice :** Calcule le résultat de l'opération `10 + 5.5` et affiche son type. Explique pourquoi le résultat a ce type.

In [11]:
resultat = 10 + 5.5
print("resultat =", resultat, "de type :", type(resultat))

resultat = 15.5 de type : <class 'float'>

## Type de données chaîne de caractères (String)

**Exercice :** Crée une variable `prenom` contenant ton prénom et une variable `nom` contenant ton nom de famille. Affiche une phrase complète en utilisant ces deux variables. Par exemple : 'Mon nom complet est ...'.

In [12]:
prenom = "Luis-Eduardo"
nom = "Ruiz"

print("Mon nom complet est", prenom, nom)

print(f'Mon nom complet est {prenom} {nom}.')

Mon nom complet est Luis-Eduardo Ruiz
Mon nom complet est Luis-Eduardo Ruiz.

**Exercice :** Écris une chaîne de caractères qui contient à la fois des guillemets doubles et simples. Affiche-la.

In [13]:
chaine = "C'est une phrase avec des super-\"guillemets\" comme il faut."
print(chaine)

print('Ceci est une phrase avec des "guillemets doubles" et des \'guillemets simples\'.')

C'est une phrase avec des super-"guillemets" comme il faut.
Ceci est une phrase avec des "guillemets doubles" et des 'guillemets simples'.

## Types de données de séquence (Sequence)

**Exercice :** Crée une liste nommée `fruits` contenant 'pomme', 'banane', et 'cerise'. Affiche le deuxième élément de la liste et change le premier élément par 'orange', puis affiche la liste entière.

In [ ]:
fruits = ['pomme', 'banane', 'cerise']
print("2ème élément :", fruits[1])
fruits[0] = 'orange'
print("Liste des fruits :", fruits,"de type:",type(fruits))

2ème élément : banane
Liste des fruits : ['orange', 'banane', 'cerise'] de type: <class 'list'>

**Exercice :** Crée un tuple nommé `coordonnees` avec les valeurs `(10, 20)`. Essaie de changer le premier élément par 15 et explique ce qui se passe.

In [15]:
coordonnees = (10, 20)
coordonnees[0] = 15

TypeError: 'tuple' object does not support item assignment

## Type de données Set

**Exercice :** Crée un set nommé `numeros` contenant les valeurs `1, 2, 3, 2, 4, 1`. Affiche le set et explique pourquoi certaines valeurs ont disparu.

In [ ]:
numeros = {1, 2, 3, 2, 4, 1}
print("numeros =", numeros ,"de type:", type(numeros))
# Les valeurs à double n'apparissent qu'une seule fois

numeros = {1, 2, 3, 4} de type: <class 'set'>

**Exercice :** Vérifie si le nombre 3 est présent dans ton set `numeros` et affiche le résultat.

In [24]:
# 3 in numeros
# ou
print(3 in numeros)

True

## Type de données Dictionnaire (Dictionary)

**Exercice :** Crée un dictionnaire nommé `personne` avec les clés 'nom' et 'age'. Associe ton nom à la clé 'nom' et ton âge à la clé 'age'. Affiche l'âge en utilisant la clé.

In [28]:
personne = {'nom':"Ruiz", 'age':57}
print(personne['age'], "de type:", type(personne))

57 de type: <class 'dict'>

**Exercice :** Modifie l'âge dans le dictionnaire `personne` et ajoute une nouvelle clé 'ville' avec ta ville de résidence. Affiche le dictionnaire complet.

In [ ]:
personne['age'] = 65
personne['ville'] = "Genève"
print(personne)

{'nom': 'Ruiz', 'age': 65, 'ville': 'Genève'}

## Conversion de types (Type Conversion)

**Exercice :** Déclare une variable `num_str` contenant la chaîne de caractères `'123'`. Convertis cette chaîne en un entier et stocke le résultat dans une nouvelle variable `num_int`. Affiche les deux variables et leurs types.

In [32]:
num_str = '0123'
num_int = int(num_str)
print("num_str=", num_str,"est de type:",type(num_str))
print("num_int=", num_int,"est de type:",type(num_int))
# ou
print(f'num_str: {num_str} ({type(num_str)})')
print(f'num_int: {num_int} ({type(num_int)})')

num_str= 0123 est de type: <class 'str'>
num_int= 123 est de type: <class 'int'>
num_str: 0123 (<class 'str'>)
num_int: 123 (<class 'int'>)

**Exercice :** Écris un code qui additionne un entier `100` avec un flottant `2.5`. Affiche le résultat et son type. Explique le processus de conversion de type qui a eu lieu.

In [35]:
nb_sum = 100 + 2.5
print("Le résultat est =", nb_sum, "est de type :", type(nb_sum))
# Python a converti l'entier 100 en flottant 100.0 (conversion implicite) avant d'effectuer l'addition, car le flottant est considéré comme un type de données supérieur pour éviter la perte d'information.

Le résultat est = 102.5 est de type : <class 'float'>