# Exercices Python : Opérateurs

## Opérateurs Arithmétiques

**Exercice :** Déclare deux variables, `a = 15` et `b = 4`. Calcule et affiche les résultats de l'addition, de la soustraction, de la multiplication, de la division, du modulo et de la division entière. Affiche également `a` à la puissance `b`.

In [39]:
a = 15
b = 4
print(f"a={a} +  b={b} = {a+b}")
print(f"a={a} -  b={b} = {a-b}")
print(f"a={a} *  b={b} = {a*b}")
print(f"a={a} /  b={b} = {a/b}")
print(f"a={a} // b={b} = {a//b}")
print(f"a={a} %  b={b} = {a%b}")
print(f"a={a} ** b={b} = {a**b}")

a=15 +  b=4 = 19
a=15 -  b=4 = 11
a=15 *  b=4 = 60
a=15 /  b=4 = 3.75
a=15 // b=4 = 3
a=15 %  b=4 = 3
a=15 ** b=4 = 50625

**Exercice :** Calcule le résultat de `(2 + 3) * 5` et affiche-le. Puis, calcule le résultat de `2 + 3 * 5` et explique la différence.

In [40]:
print("(2 + 3) * 5 =", (2 + 3) * 5)
print("2 + 3 * 5 =", 2 + 3 * 5)
# La multiplication (et la division) se fait avant l'addition (et la soustraction)

(2 + 3) * 5 = 25
2 + 3 * 5 = 17

## Opérateurs de Comparaison

**Exercice :** Déclare deux variables : `x = 10` et `y = 12`. Écris une expression pour chaque opérateur de comparaison (==, !=, >, <, >=, <=) qui compare `x` et `y`, et affiche le résultat (True ou False).

In [41]:
x = 10
y = 12

print("x == y : ", x == y)
print("x != y : ", x != y)
print("x  > y : ", x > y)
print("x  < y : ", x < y)
print("x >= y : ", x >= y)
print("x <= y : ", x <= y)

x == y :  False
x != y :  True
x  > y :  False
x  < y :  True
x >= y :  False
x <= y :  True

**Exercice :** Vérifie si la chaîne de caractères `'python'` est égale à `'Python'` et affiche le résultat.

In [42]:
print('python' == 'Python')

False

## Opérateurs Logiques

**Exercice :** Déclare deux variables booléennes : `a = True` et `b = False`. Utilise les opérateurs logiques `and`, `or` et `not` avec ces variables et affiche les résultats.

In [43]:
a = True
b = False

print("a and b : ", (a and b))
print("a or b : ", a or b)
#print("a not b : ", a not b)

a and b :  False
a or b :  True

**Exercice :** Écris un code qui vérifie si un nombre `n` est compris entre 10 et 20 (inclus) et affiche `True` ou `False`.

In [44]:
n = 14
print("n >= 10 and n <= 20 = ", n >= 10 and n <= 20)

n >= 10 and n <= 20 =  True

## Opérateurs d'Assignation

**Exercice :** Crée une variable `compteur` et assigne-lui la valeur 5. Utilise les opérateurs d'assignation pour ajouter 3, soustraire 2, multiplier par 4 et diviser par 2.5. Affiche le résultat après chaque opération.

In [45]:
compteur = 5
print("compteur=", compteur)
compteur += 3
print("compteur=", compteur)
compteur -= 2
print("compteur=", compteur)
compteur *= 4
print("compteur=", compteur)
compteur / 2.5
print("compteur=", compteur)

compteur= 5
compteur= 8
compteur= 6
compteur= 24
compteur= 24

**Exercice :** Crée une chaîne de caractères `message = 'Salut '`. Utilise l'opérateur d'assignation pour y ajouter ton prénom et affiche le résultat.

In [46]:
message = "Salut "
message += "Luis-Eduardo"
print("message=", message)

message= Salut Luis-Eduardo

## Opérateurs d'Identité et d'Appartenance

**Exercice :** Déclare deux variables : `liste1 = [1, 2, 3]` et `liste2 = [1, 2, 3]`. Utilise l'opérateur `is` pour vérifier si `liste1` et `liste2` sont le même objet et explique le résultat.

In [47]:
liste1 = [1, 2, 3]
liste2 = [1, 2, 3]
print("liste1 is liste2 :", liste1 is liste2)

liste1 is liste2 : False

**Exercice :** Crée une liste de fruits et utilise l'opérateur `in` pour vérifier si la 'banane' est dans la liste. Utilise `not in` pour vérifier si 'ananas' n'est pas dans la liste.

In [48]:
fruits = ['pomme', 'poire', 'banane']
print("'ananas' not in fruits :", 'ananas' not in fruits)

'ananas' not in fruits : True