# Corrigé des Exercices Python : Types de données

## Types de données numériques (Numeric)

**Exercice :** Déclare trois variables : `num_int` avec une valeur entière de ton choix, `num_float` avec un nombre décimal, et `num_complex` avec un nombre complexe. Affiche leur valeur et leur type en utilisant la fonction `type()`.

In [ ]:
num_int = 42
num_float = 3.14
num_complex = 2 + 5j

print(f'{num_int} est de type {type(num_int)}')
print(f'{num_float} est de type {type(num_float)}')
print(f'{num_complex} est de type {type(num_complex)}')

**Exercice :** Calcule le résultat de l'opération `10 + 5.5` et affiche son type. Explique pourquoi le résultat a ce type.

In [ ]:
resultat = 10 + 5.5
print(f'Le résultat est {resultat} et son type est {type(resultat)}')
# Le résultat est un float car Python effectue une conversion implicite de l'entier (int) vers le flottant (float) pour éviter la perte de données.

## Type de données chaîne de caractères (String)

**Exercice :** Crée une variable `prenom` contenant ton prénom et une variable `nom` contenant ton nom de famille. Affiche une phrase complète en utilisant ces deux variables. Par exemple : 'Mon nom complet est ...'.

In [ ]:
prenom = 'Alice'
nom = 'Martin'
print(f'Mon nom complet est {prenom} {nom}.')

**Exercice :** Écris une chaîne de caractères qui contient à la fois des guillemets doubles et simples. Affiche-la.

In [ ]:
print('Ceci est une phrase avec des "guillemets doubles" et des \'guillemets simples\'.')

## Types de données de séquence (Sequence)

**Exercice :** Crée une liste nommée `fruits` contenant 'pomme', 'banane', et 'cerise'. Affiche le deuxième élément de la liste et change le premier élément par 'orange', puis affiche la liste entière.

In [ ]:
fruits = ['pomme', 'banane', 'cerise']
print(fruits[1])
fruits[0] = 'orange'
print(fruits)

**Exercice :** Crée un tuple nommé `coordonnees` avec les valeurs `(10, 20)`. Essaie de changer le premier élément par 15 et explique ce qui se passe.

In [ ]:
coordonnees = (10, 20)
# coordonnees[0] = 15 # Cette ligne va générer une erreur car les tuples sont immuables (ne peuvent pas être modifiés).

## Type de données Set

**Exercice :** Crée un set nommé `numeros` contenant les valeurs `1, 2, 3, 2, 4, 1`. Affiche le set et explique pourquoi certaines valeurs ont disparu.

In [ ]:
numeros = {1, 2, 3, 2, 4, 1}
print(numeros)
# Les doublons ont été automatiquement supprimés car les sets ne peuvent contenir que des éléments uniques.

**Exercice :** Vérifie si le nombre 3 est présent dans ton set `numeros` et affiche le résultat.

In [ ]:
numeros = {1, 2, 3, 4}
print(3 in numeros)

## Type de données Dictionnaire (Dictionary)

**Exercice :** Crée un dictionnaire nommé `personne` avec les clés 'nom' et 'age'. Associe ton nom à la clé 'nom' et ton âge à la clé 'age'. Affiche l'âge en utilisant la clé.

In [ ]:
personne = {'nom': 'Alice', 'age': 30}
print(personne['age'])

**Exercice :** Modifie l'âge dans le dictionnaire `personne` et ajoute une nouvelle clé 'ville' avec ta ville de résidence. Affiche le dictionnaire complet.

In [ ]:
personne = {'nom': 'Alice', 'age': 30}
personne['age'] = 31
personne['ville'] = 'Paris'
print(personne)

## Conversion de types (Type Conversion)

**Exercice :** Déclare une variable `num_str` contenant la chaîne de caractères `'123'`. Convertis cette chaîne en un entier et stocke le résultat dans une nouvelle variable `num_int`. Affiche les deux variables et leurs types.

In [ ]:
num_str = '123'
num_int = int(num_str)
print(f'num_str: {num_str} ({type(num_str)})')
print(f'num_int: {num_int} ({type(num_int)})')

**Exercice :** Écris un code qui additionne un entier `100` avec un flottant `2.5`. Affiche le résultat et son type. Explique le processus de conversion de type qui a eu lieu.

In [ ]:
resultat = 100 + 2.5
print(f'Le résultat est {resultat} et son type est {type(resultat)}')
# Python a converti l'entier 100 en flottant 100.0 (conversion implicite) avant d'effectuer l'addition, car le flottant est considéré comme un type de données supérieur pour éviter la perte d'information.